.infoBlock {
    width: 880px;
    height: 620px;
    max-width: 80%;
    max-height: 90%;
    position: absolute;
    background-color: #FFF;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin:  auto;
    padding: 23px;
    overflow: hidden;
    p {
        margin-bottom: 25px;
        line-height: 22px;
    }
    &__images {
        @include flex();
        img {
            width: 48.5%;
            display: block;
            margin-bottom: 25px;
        }
    }
}