// COLORS
// ---------------------------
$orange: #f68155;
$white : #f8f8f6;
$grey: #d8d8d8;
$green: #00a93f;
$text: #444;

// FONTS
// ---------------------------
$din : 'DIN Pro Cond Bold';
$hm: 'HelveticaNeueMed';
$dinm : 'DIN Pro Cond Med';
$dinb : 'DIN Pro Cond Back';

// RESPONSIVE
// ---------------------------
